<div id="chart-container"><%= render partial: "email_engine/admin/partials/chart" %></div>
<br/>

</br/>
<table id="list" class="table table-striped" style="margin-bottom:0px;">
  <tr>
  <form class="navbar-form navbar-left">
    <td colspan="2"><%= text_field_tag :search, nil, value: (params[:query] ? params[:query] : ''), placeholder: 'Search...', class: 'form-control', onkeydown: "EmailEngine.search(this);" %></td>
    <td><%= select_tag :type, options_for_select([[ "Sent", "sent" ], ["Open", "open"], ["Click", "click"], ["Bounce", "bounce"], ["Complaint", "complaint"]], (params[:type]||'sent')), class: 'form-control', onchange: "EmailEngine.reload();" %>
    <%= text_field_tag :last, nil, value: (params[:last]||'hour'), class: 'form-control', style: 'display:none;' %>
    <%= text_field_tag :interval, nil, value: (params[:interval]||'minute'), class: 'form-control', style: 'display:none;' %></td>
    <td colspan="2"></td>
  </form>
  </tr>
</table>
<table id="list" class="table table-striped">
  <tr class='tabs'>
    <td width="20"></td>
    <td class="visible-lg">ID</td>
    <td>To</td>
    <td class="visible-lg visible-md">Subject</td>
    <td class="visible-lg visible-md">Sent At</td>
    <td>Actions</td>
  </tr>
<% @emails.each do |email| %>
  <tr>
    <td width="20"><%= content_tag(:div, '', class: "state #{email.state}", title: email.state.titleize) %></td>
    <td class="visible-lg"><%= email.id %></td>
    <td>
      <b><%= email.to %></b>
      <div class="visible-xs visible-sm">
        <small><%= email.subject %></small>
      </div>
    </td>
    <td class="visible-lg visible-md"><%= email.subject %></td>
    <td class="visible-lg visible-md"><%= Time.parse(email.sent_at).getutc.strftime("%m/%d/%Y %H:%M") if email.sent_at %></td>
    <td><%= link_to "View", admin_path(email.id), class: 'btn btn-default btn-sm' if email.id %></td>
  </tr>
<% end unless (@emails.nil? || @emails.empty?) %>
</table>